/* Organized from Top to Bottom Header to Footer, Then Page in Order */

* {
   /*transition: all 0.5s ease;*/
}

/* set to help 100% height on modal */
html, body {
  margin:0;
  padding:0;
  height:100%;
}


.text-align-center {
  text-align: center;
}
a:hover {
  text-decoration: none;
  color: #000;
}
a {
  color: inherit;
}
.width-100 {
  width: 100%;
}
.font-80 {
  font-size: 80px;
}
.navbar-show {
  background-color: #222;
}
.navbar {
  padding:  0 !important;
}

.nav > .nav-item a {
  padding: 15px;
  margin: 7px;
  color: #6d6d6d;
}
.nav-item > .nav-link.active {
  border-radius: 5px;
  background-color: #6d6d6d;
  color: #fff;
}
.nav {
  background-color: #222;
}
.header-style {
  position: relative;
  padding-top: 200px;
  padding-bottom: 150px;
  background-color: #222;
  background-image: url('../img/gold-horizons-large-36.jpg');
  background-repeat: no-repeat;
  min-height: 700px;
  margin-top: -70px;
}
.index-nav .nav > .nav-item a {
  color: #ffffff;
}
.index-nav .nav-item > .nav-link.active {
  background-color: #ffffff;
  color: #454545;
}

.nav {
  min-height: 70px;
}
.nav .nav-item {
  margin-right: 15px;
}
.nav .far-right-nav-margin {
  margin-right: 20px;
}

.header-title {
  font-size: 4rem;
  line-height: 5rem;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
.fa-angle-down {
  margin-top: 7px; color: white; font-size: 1.5em;
}

hr {
  max-width: 100px;
  height: 2px;
  border-top: 1px solid #41C4AB;
  border-bottom: 1px solid #41C4AB;
}

.header-style .scroll-down {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

.header-style .scroll-down .btn {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 100% !important;
}

.header-style .scroll-down .btn img {
  height: 20px;
  width: 20px;
  margin-top: 5px;
}

.page-section {
  padding: 20px 0;
  padding-bottom: 100px;
}

.skill-set {
  color: #000;
}

.skill-sets {
  padding:25px; 
  padding-top:30px
}

.footer-separator-bar {
  background-color: #222;
  padding: 50px 0;
}
.footer {
  padding: 100px 0;
  background-color: #222;
  background-size: cover;
  color: #6a8759;
  min-height: 700px;
  background-image: url('../img/pirate-ship-background.jpg');
}
.footer a:hover {
  color: #b3b640;
}

.thick-bold-raleway {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 52px;
}

.portfolio-piece {
  width: 80%;
  display: inline-block;
  padding: 0.3%;
  vertical-align: top;
}

.portfolio-piece img {
  width: 100%;
}

.portfolio-titles {
  font-size: 46px;
}

/* #tag lands above the target */
a.anchor-offset {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

/* chevrons start */
.chevrons-container {
  position: absolute;
  top: 3%;
  width: 100%;
  background-color: red;  
}
.chevron-right {
  position: absolute;
  right: -25px;  
}
.chevron-left {
  position: absolute;
  left: -25px;
}
.chevron-right:hover, .chevron-left:hover {
  color: #ffc107;
}
/* chevrons end */

.container {
  position: relative;
}
.container-me {
  visibility: visible;
  animation-name: fadeIn;
}
.portfolio-wrapper img {
  border-radius: 7px;
  cursor: pointer;
}

.contact-links {
  display: inline-block; 
  padding: 40px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.close {
  position: absolute;
  top: 3px;
  right: 15px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.showModal {
  display: inline-block !important;
}

.imageModal {
  display: none;  /* Hidden by default */
  position: fixed;
  text-align:center;
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  width: 100%; /* Full width */
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(160, 160, 160, 0.9); /* Black w/ opacity */
}

/* Modal Content */
.imageModal-content {
  margin: 0 auto;
  /*height: calc(100vh);*/
  width: 90%;
  position: relative;
}

.imageModal-content img {
  max-height: calc(100vh - 75px);
  max-width: 100%;
  border-radius: 12px;

}

.container {
  padding-right: 2px;
  padding-left: 2px;
}

/* Responsive Start */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .header-title {
    margin-top: 100px;
    font-size: 4rem !important;
  }


}
#portfolio .row {
  margin-top: 60px;
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .portfolio-piece {
    width: 30%;
    display: inline-block;
    padding: 0.3%;
    vertical-align: top;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header-style {
    height: 100vh;
    width: 100vw;
    padding-top: 0;
    padding-bottom: 0;
    top: 0;
  }
  .header-title {
    margin-top: -190px;
    font-size: 5rem !important;
  }
  .portfolio-chevron-right {
    right: -30px;   
  } 
  .portfolio-chevron-left {   
    left: -70px;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .nav .far-right-nav-margin {
    margin-right: 40px;
  }
}
/* Responsive End */